<div class="row">
	<div class="col-md-3">
		<%= image_tag @restaurant.image_url %>

		<h2>
  			<%= @restaurant.name %>
		</h2>

		<div class="star-rating" data-score= <%= @avg_rating %> ></div>
		<% if @reviews.length != 1 %>
			<div><%= "#{@reviews.length} reviews" %></div>
		<% else %>
			<div><%= "#{@reviews.length} review" %></div>
		<% end %><br />

		<span>
		  	<strong>Address:</strong>
		  	<%= @restaurant.address %>
		  	<br /><br />
		</span>

		<span>
			<strong>Phone:</strong>
			<%= @restaurant.phone %>
			<br /><br />
		</span>

		<span>
		  <strong>Website:</strong>
		  <%= link_to @restaurant.website, @restaurant.website %>
		  <br /><br />
		</span>

		<%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
	</div>

	<div class="col-md-9">
		<% if @reviews.blank? %>
			<h3>No reviews yet. Be the first one to write one!</h3>
		<% else %>
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-3"></th>
						<th class="col-md-9"></th>
					</tr>
				</thead>
				<tbody>
					<% @reviews.each do |review| %>
						<tr>
							<td>
								<h4>
									<%= "#{review.user.first_name.capitalize} " %>.
								</h4>
								<div>
									<%= review.created_at.strftime("%-m/%-d/%-y") %>
								</div>
							</td>
							<td>
								<div class="star-rating" data-score= <%= review.rating %> ></div>
								<div><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></div><br />
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>

</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-link" %>

<script>
	$('.star-rating').raty({
		path: 'https://s3.amazonaws.com/yelpdemojuan/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>